.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.online {
  display: block;
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.offline {
  display: block;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
