.item {
  display: flex;
  max-width: 200px;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f5deb3;
  box-shadow: var(--shadow);
}

.online {
  display: block;
  background-color: green;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  flex-basis: 30%;
}

.offline {
  display: block;
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
