.statistics {
  max-width: 300px;
  margin: 30px auto;
  background-color: #fff;
  box-shadow: var(--shadow);
}

.title {
  padding: 20px;
}

.statList {
  display: flex;
  justify-content: center;
}

.item {
  display: block;
  color: #fff;
  padding: 5px;
  flex-basis: calc(100% / 5);
}

.label {
  display: block;
}
.percentage {
  display: block;
  font-size: 25px;
}
